header > h1 {
  line-height: 2.25rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

nav > ul {
  display: flex;
  gap: var(--flex-gap);
}

nav > ul > li {
  list-style: none;
}

.ul-nested {
  display: flex;
  flex-direction: column;
  gap: var(--flex-gap);
}
