.layout {
  padding: 32px;
  display: flex;
  gap: 16px;
}

// Toggle side bar
.-translate-x-full {
  --translate-x: -120%;
}

.translate-x-0 {
  --translate-x: 0px;
}

.transform {
	transform: translate(var(--translate-x), 0) rotate(var(--rotate)) skewX(var(--skew-x)) skewY(var(--skew-y)) scaleX(var(--scale-x)) scaleY(var(--scale-y));
}

.hidden {
  display: none;
}

.inset-0 {
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.overlay {
  z-index: 40;
  position: fixed;

  @media (min-width: 768px) {
    display: none;
  }

  .overlay__background {
    position: absolute;
    background-color: rgb(107 114 128/1);
    opacity: .75;
  }
}
// End Toggle side bar

.sidebar {
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: #fff;

  // Toggle sidebar
  position: fixed;
  top: 0;
  z-index: 50;
  // End Toggle sidebar

  .note-item {
    padding: .75rem 0;

    span {
      cursor: pointer;
    }
  }

  .add-note {
    width: 160px;
    padding: .30rem .75rem;
    color: rgb(17 24 39/var(--text-opacity));
    background-color: rgb(255 255 255/var(--bg-opacity));
    border-width: 1px;
    border-color: rgb(243 244 246/var(--border-opacity));
    border-radius: .375rem;
    font-weight: 500;
    cursor: pointer;

    margin-bottom: 1rem;

    &:hover {
      background-color: rgba($primary-color, 0.2);
    }
  }

  div {
    width: 10em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  @media (min-width: 768px) {
    // Toggle sidebar
    position: sticky;
    transform: translate(var(---translate-x-full), 0) rotate(var(--rotate)) skewX(var(--skew-x)) skewY(var(--skew-y)) scaleX(var(--scale-x)) scaleY(var(--scale-y));
    // End Toggle sidebar
  }
}

.page {
  width: 100%;
}

.note-header {
  margin-bottom: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  nav {
    margin: 0;
  }
}

.note-content {
  height: auto;
  width: calc(100%);
  font-style: italic;
  margin: 0 auto;
  font-size: 18px;
  border: none;
  resize: none;
  display : block;

  padding: .75rem 0;

  &:focus {
    outline: none;
  }
}

img.img--svg {
  height: 18px;
  position: relative;
  top: 3px;
}

img.nav--svg {
  height: 24px;
}

.btn-svg {
  margin-right: 1rem;
  background-color: rgb(255 255 255/var(--bg-opacity));
  border: 0;
  cursor: pointer;
}

