.layout {
  padding: 32px;
  display: flex;
  gap: 16px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
  padding-left: 1rem;

  position: fixed;
  top: 0;
  z-index: 50;
	transform: translate(var(--translate-x), 0) rotate(var(--rotate)) skewX(var(--skew-x)) skewY(var(--skew-y)) scaleX(var(--scale-x)) scaleY(var(--scale-y));

  .note-item {
    padding: .75rem 0;

    span {
      cursor: pointer;
    }
  }

  .add-note {
    width: 160px;
    padding: .30rem .75rem;
    color: rgb(17 24 39/var(--text-opacity));
    background-color: rgb(255 255 255/var(--bg-opacity));
    border-width: 1px;
    border-color: rgb(243 244 246/var(--border-opacity));
    border-radius: .375rem;
    font-weight: 500;
    cursor: pointer;

    margin-bottom: 1rem;

    &:hover {
      background-color: rgba($primary-color, 0.2);
    }
  }

  div {
    width: 10em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  @media (min-width: 768px) {
    position: sticky;
    transform: translate(var(---translate-x-full), 0) rotate(var(--rotate)) skewX(var(--skew-x)) skewY(var(--skew-y)) scaleX(var(--scale-x)) scaleY(var(--scale-y));
  }
}

.page {
  width: 100%;
}

.note-header {
  margin-bottom: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  nav {
    margin: 0;
  }
}

.note-content {
  height: auto;
  width: calc(100%);
  font-style: italic;
  margin: 0 auto;
  font-size: 18px;
  border: none;
  resize: none;
  display : block;

  padding: .75rem 0;

  &:focus {
    outline: none;
  }
}

img.img--svg {
  height: 18px;
  position: relative;
  top: 3px;
}

img.nav--svg {
  height: 24px;
}

.remove-note {
  margin-right: 1rem;
  background-color: rgb(255 255 255/var(--bg-opacity));
  border: 0;
  cursor: pointer;
}

